<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.BoardMapper">

<update id="likecheck1" >
	update
		 tbl_board_good
	set
		likecheck = likecheck + 1
	where
		userid = #{userid}
	and
		bno = #{bno}
</update>

<update id="likecheck0" >
	update
		 tbl_board_good
	set
		likecheck = 0
	where
		userid = #{userid}
	and
		bno = #{bno}
</update>

<sql id="criteria">
     <where>
	     <foreach item="type" separator="OR" collection="typeArr">
	     	<choose>
	     		<when test='type == "T"'>
	     			b.title LIKE CONCAT('%', #{keyword}, '%')
	     		</when>
	     		<when test='type == "W"'>
	     			b.writer LIKE CONCAT('%', #{keyword}, '%')
	     		</when>
	     		<when test='type == "C"'>
	     			b.content LIKE CONCAT('%', #{keyword}, '%')
	     		</when>
	     	</choose>
	     </foreach>
     </where>	
	</sql>
	
<update id="views">
	update tbl_board set views = views + 1 where bno = #{bno}
</update>



<select id="getList" resultType="org.zerock.domain.BoardVO">
    
    <![CDATA[
    
    SELECT 
    	bno bno,
    	title title,
    	content content,
    	writer writer,
    	regdate regdate,
    	updatedate updateDate,
    	views views,
    	good good,
    
     FROM tbl_board
     
     WHERE bno > 0 ORDER BY bno DESC
     
    ]]>
    
  </select>

<insert id="write">
  	INSERT INTO tbl_board (title, content, writer, views, good) 
  	VALUES (#{title}, #{content}, #{writer}, #{views}, #{good})
  </insert>
  
  <insert id="writeSelectKey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
  	INSERT INTO tbl_board (title, content, writer, views, good)
  	VALUES (#{title}, #{content}, #{writer}, #{views}, #{good})
  </insert>
  
<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
    SELECT 
    	bno,
    	title,
    	content,
    	writer,
    	regdate,
    	updatedate,
    	views,
    	good
     FROM tbl_board b 
     
  <include refid="criteria"></include>
	 GROUP BY bno
     ORDER BY bno DESC
     LIMIT #{from}, #{amount}
   
     
  </select>


  <select id="getTotalCount" resultType="int">
  SELECT COUNT(*) FROM tbl_board b
  <include refid="criteria"></include>
  </select>


<select id="read" resultType="org.zerock.domain.BoardVO">
	SELECT 
  	 b.bno bno,
  	 b.title title,
  	 b.content content,
  	 b.writer writer,
  	 b.regdate regdate,
  	 b.updatedate updateDate,
  	 b.views views,
  	 f.fileName fileName,
  	 m.nickName writerName
  	FROM tbl_board b LEFT JOIN tbl_board_file f ON b.bno = f.bno
  	                      JOIN tbl_member2 m ON b.writer = m.userid
  	WHERE b.bno = #{bno} 
</select>

<delete id="delete">
	delete from tbl_board where bno = #{bno}
</delete>

<update id="update">
	update tbl_board
	set 
	title= #{title},
	content= #{content},
	writer= #{writer},
	updateDate = now()
	where bno = #{bno}
</update>



</mapper>