<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.EatBoardMapper">

	<select id="getList" resultType="org.zerock.domain.EatBoardVO">
    
    <![CDATA[
    
	SELECT
		e.eatbno eatbno,
		e.title title,
		e.content content,
		e.address address,
		e.writer writer,
		e.regdate regdate,
		e.updatedate updatedate,
		e.likes likes,
		e.views views,
		f.fileName fileName
	FROM eatBoard e LEFT JOIN eatBoard_file f ON e.eatbno = f.eatbno
	where e.eatbno > 0 order by e.eatbno DESC
     
    ]]>

	</select>

	<sql id="criteria">
		<where>
			<foreach item="type" separator="OR" collection="typeArr">
				<choose>
					<when test='type == "T"'>
						e.title LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test='type == "W"'>
						m.nickName LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test='type == "C"'>
						e.content LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<when test='type == "A"'>
						e.address LIKE CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
			</foreach>
		</where>
	</sql>
	

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM eatBoard e
		<include refid="criteria"></include>
	</select>

<select id="getListWithPaging" resultType="org.zerock.domain.EatBoardVO">
    SELECT 
    	e.eatbno eatbno,
    	e.title title,
    	e.content content,
    	e.address address,
    	e.writer writer,
    	e.regdate regdate,
    	e.updatedate updatedate,
    	e.likes likes,
    	e.views views,
    	m.nickName writerName,
    	count(r.eatrno) replyCnt
     FROM eatBoard e LEFT JOIN eat_reply r ON e.eatbno = r.eatbno
     				INNER JOIN tbl_member2 m ON e.writer = m.userid
     				
     			
     
  <include refid="criteria"></include>
	 GROUP BY e.eatbno
     ORDER BY e.eatbno DESC
     LIMIT #{from}, #{amount}
   
     
  </select>
	
	<insert id="insert">
		INSERT INTO eatBoard (title, content, address, writer)
		VALUES (#{title}, #{content}, #{address}, #{writer})
	</insert>

	<insert id="insertSelectKey" useGeneratedKeys="true"
		keyProperty="eatbno" keyColumn="eatbno">
		INSERT INTO eatBoard (title, content, address, writer)
		VALUES (#{title}, #{content}, #{address}, #{writer})
	</insert>

	<select id="read" resultType="org.zerock.domain.EatBoardVO">
		SELECT
			e.eatbno eatbno,
			e.title title,
			e.content content,
			e.address address,
			e.writer writer,
			e.regdate regdate,
			e.updatedate updatedate,
			e.likes likes,
			e.views views,
			f.fileName fileName,
			m.nickName writerName
		FROM eatBoard e LEFT JOIN eatBoard_file f ON e.eatbno = f.eatbno
						 JOIN tbl_member2 m ON e.writer = m.userid
		WHERE e.eatbno = #{eatbno}
	</select>

	<delete id="delete">
		DELETE FROM eatBoard WHERE eatbno = #{eatbno}
	</delete>

	<update id="update">
		UPDATE eatBoard
		SET
		title = #{title},
		content = #{content},
		address = #{address},
		writer = #{writer},
		updatedate = NOW()

		WHERE
		eatbno = #{eatbno}

	</update>
	
	<delete id="removeByUserid">
	DELETE FROM eatBoard
	WHERE writer = #{userid}
	</delete>
	
</mapper>

















